<% content_for :section_nav do %>
<nav id="side-nav">
  <ul>
    <li id="nav-title">
      Questions
    </li>
    <li>
      <%= link_to 'Back', questions_path %>
    </li>
  </ul>
</nav>
<% end %>

<h1>Editing Question</h1>

<%= render 'form', question: @question %>
