<h1>Students</h1>

<table class="table">
  <thead>
    <tr>
      <th>Students</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
    <tr>
      <td><%= student %></td>
      <td><%= link_to 'Show', student %></td>
    </tr>
    <% end %>
  </tbody>
</table>
