<% content_for :section_nav do %>
<nav id="side-nav">
  <ul>
    <li id="nav-title">
      Enrollments
    </li>
    <li>
      <%= link_to 'Back', student_enrollments_path %>
    </li>
  </ul>
</nav>
<% end %>
<p>
  <h1>Please select a course to enroll</h1>
</p>
<%= render 'form', student_enrollment: @student_enrollment %>
