<p>
  <strong>Student:</strong>
  <%= @student_enrollment.student %>
</p>

<p>
  <strong>Tutored course:</strong>
  <%= @student_enrollment.tutored_course %>
</p>

<%= link_to 'Back', student_enrollments_path %>
