<h1><%= @student_enrollment.tutored_course %></h1>

<p>
  by
  <strong><%= @student_enrollment.tutored_course.tutor %></strong>
</p>

<p>
  <%= @student_enrollment.tutored_course.course.description %>
</p>

<%= link_to 'Lessons', lessons_path(tutored_course_id: @student_enrollment.tutored_course.id) %>
