<%= @student_enrollment.tutored_course %>

<p>
  by
  <strong><%= @student_enrollment.tutored_course.tutor %></strong>
</p>

<%= link_to 'Lessons', lessons_path(tutored_course_id: @student_enrollment.tutored_course.id) %>
