<h1>Wellcome</h1>

<% if @tutored_courses %>
<table>
  <thead>
    <tr>
      <th>Course</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tutored_courses.each do |tutored_course| %>
    <tr>
      <td><%= tutored_course.tutor %></td>
      <td><%= tutored_course.course %></td>
      <td><%= link_to 'Show', tutored_course %></td>
      <td><%= link_to 'Destroy', tutored_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
  <% end %>
</table>
