<p id="notice"><%= notice %></p>

<p>
  <strong>Lesson:</strong>
  <%= @video_lesson.lesson %>
</p>

<p>
  <strong>Video:</strong>
  <%= @video_lesson.video %>
</p>

<%= link_to 'Back', lessons_path %>
