/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'rails_bootstrap_forms';
@import 'flash_messages';
@import 'trix';

$gray_200: #EEEEEE;
$gray_300: #E0E0E0;
$gray_400: #BDBDBD;
$gray_500: #9E9E9E;
$gray_600: #757575;
$gray_700: #616161;

a {
  color: $gray_600;
  &:hover{
    color: black;
    text-decoration: none;
  }
}
.course-box{
  border: $gray_300 1px solid;
  padding: 20px;
  margin-bottom: 10px;

  .course-box-menu {
    float: right;
  }
}

.question {
  border-bottom: 1px solid $gray_300;
  padding: 20px 0;
  p {
    font-size: 1.2em;
  }
  .actions{
    float: right;
  }
  .question-lesson{
    display: block;
  }
  .question-by{
    clear: both;
    display: block;
    float: right;
  }
}

#question-header{
  border-bottom: 1px solid $gray_300;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

#question-content{
}

#answers{
  padding-top: 60px;
  padding-bottom: 60px;
  header{
    border-bottom: 1px solid $gray_300;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
}
